<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%= render './user_navbar' %>
        <section class="section is-small how-it-works">
            <h3 class="title is-3 has-text-centered">Most Explored Apps </br></br></h3>
            <div class="horizontal-cusion-small">
                <div class="tile is-ancestor">
                    <div class="tile is-4 is-vertical is-parent">
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">Forkout</h4>
                                <span class="tag is-rounded right">Strategy</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/forkout.png")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face2.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla dolore eiusmod deserunt dolore incididunt consectetur anim ea.'
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">LockIO</h4>
                                <span class="tag is-rounded right">Knowledge</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/lockio.png")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face3.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla dolore eiusmod deserunt dolore incididunt consectetur anim ea.'
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-4 is-vertical is-parent">
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">Qurush</h4>
                                <span class="tag is-rounded right">Games</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/sidebeep.png")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face1.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla dolore eiusmod deserunt dolore incididunt consectetur anim ea.'
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">Qurush</h4>
                                <span class="tag is-rounded right">Knowledge</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/alisiam.svg")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face4.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla doloLorem ipsum occaecat pariatur proident duis ad dolor cillum elit anim in aliquip nulla 
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-4 is-vertical is-parent">
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">Qurush</h4>
                                <span class="tag is-rounded right">Knowledge</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/qurush-app.png")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face2.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla DLorem ipsum reprehenderit quis nulla exercitation ut pariatur ut laborum.'
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-child">
                            <article class="tile is-child box">
                                <h4 class="title is-4 left no-bottom-margin">Qurush</h4>
                                <span class="tag is-rounded right">Knowledge</span>
                                <div class="clear"></div>
                                <figure class="image app-icon is-centered">
                                    <%=image_tag("icons/alisiam.svg")%>
                                </figure>
                                <div class="feedback-box">
                                    <div class="rating-box">
                                        <figure class="image">
                                            <%=image_tag("face5.jpg", class: "profile-img")%>
                                        </figure>
                                        <div class="details">
                                            <p class="feedback-name vertical-align margin-auto">Mike Rogers</p>
                                            <div class="comment-count">
                                                <p class="is-size-7"><strong>21</strong></p>
                                                <i class="fa fa-commenting"></i>
                                            </div>
                                            <div class="thumbs-count">
                                                <p class="is-size-7"><strong>13</strong></p>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="starability-result left" data-rating="3" aria-describedby="rated-element">
                                            3 stars
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <h6 class="subtitle is-size-5">
                                    Laborum sed ut in nulla
                                </h6>
                                        <h6 class="subtitle smaller">
                                'Anim ex nisi veniam nulla dolore dolor fugiat elit voluptate proident fugiat ut ad aute dolor.iusmod deserunt dolore incididunt consectetur anim ea.'
                      </h6>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
<footer class="footer">
    <div class="container is-small">
        <div class="content has-text-centered">
            <p>
                <a href="http://www.instabug.com">Powered by Instabug</a>
            </p>
            <div class="columns">
                <div class="column is-4 is-offset-4 center-logo">
                    <figure class="image is-48x48 instabug-logo">
                        <%=image_tag("instabug.png", class: 'instabug-logo')%>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</footer>