<div class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-start has-text-white-ter">
        <div class="navbar-item">
            <%=image_tag("hedgehog.png", class: 'padding-right', width: '50', height: '50')%>
                <h4 class="title is-4 has-text-white-ter">Hedgehogs</h4>
        </div>
    </div>
    <div class="navbar-end">
        <a>
            <%= link_to "Home", root_path, class: 'navbar-item has-text-grey-lighter'%>
        </a>
        <a class="">
            <%= link_to "Explore Apps", apps_path, class: 'navbar-item has-text-grey-lighter'%>
                <a class="navbar-item has-text-grey-lighter">About us</a>
                <a class="navbar-item has-text-grey-lighter">Support</a>
                <div class="navbar-item">
                    <%= link_to "Sign in", new_user_session_path, :class => "button is-primary" %>
                </div>
    </div>
</div>

<body>
    <section class="hero is-fullheight is-dark is-bold is-size-6">
        <div class="hero-body">
            <div class="container padding-login">
                <div class="columns is-vcentered">
                    <div class="column is-4">
                    </div>
                    <div class="column is-4 ">
                        <h3 class="title is-3 has-text-centered">
              Sign in
            </h3>
                        <div class="box">
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <div class="field">
                                    <label class="label">
                                        <%= f.label :email %>
                                    </label>
                                    <p class="control has-icons-left">
                                        <!-- <input class="input" type="email" placeholder="Email"> -->
                                        <%= f.email_field :email, class: 'input', autofocus: true %>
                                            <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        <%= f.label :password, class: 'label'%>
                                    </label>
                                    <p class="control has-icons-left">
                                        <%= f.password_field :password, class: 'input', autocomplete: "off" %>
                                            <!-- <input class="input" type="password" placeholder="Password"> -->
                                            <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                                            <div class="field">
                                                <%= link_to "Forgot your email or password?", new_password_path(resource_name), class: ' tag is-light' %>
                                            </div>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <%= f.submit "Log in", class: 'button is-primary' %>
                                            <%= link_to("Cancel", root_path, class: 'button is-default')%>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                    </p>
                                </div>
                                <hr>
                                <nav class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <p> Don't have an acount? </p>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <p class="">
                                                <!-- <%= link_to "Sign up", new_user_session_path, :class => "button is-info" %> -->
                                                <%= link_to "Sign up", new_registration_path(resource_name), :class => "button is-info" %>
                                            </p>
                                        </div>
                                    </div>
                                </nav>
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>